.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    padding-top: 3.75rem;
    border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content {
    display: block;
    color: white;
    width: 31.87rem;
    height: 37.5rem;
    top: 3.5rem;
    left: 29.06rem;
    margin: auto;
    text-align: center;
}

  
.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}
  
.banner p {
    font-weight: 400;
    font-size: 1.25rem;
    align-items: center;
    margin: 1.25rem 0 1.25rem;
}
  
.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    width: 16.75rem;
    margin: auto;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
}

  
.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    background-color: #1572B7 ;
    color: #adff2f;
    border: none;
    border-radius: 1.85rem;
    cursor: pointer;
    transition: 0.2s;
    
    
}

.banner .banner-content button:hover {
    background-color: #acff2f;
    color: #1472B7;
    border-radius: 1.85rem; 
    transition: 0.2s;
}
