#course-content h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.35rem;
    letter-spacing: .25rem;
    color: #33A8DB;
    text-transform: uppercase;
    margin: 0 13rem 0 15.69rem;
    text-align: center;
}

#course-content p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.17rem;
    text-align: center;
    margin: 1rem 14.38rem;
}

.modules-list {
    margin: 1.5rem 0;
}

.module {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.17rem;
    color: white;
    text-align: center;
    width: 33.44rem;

    margin: 0 auto 1.5rem;
    background-color: #252525;

    border: 1px solid #33A8DB;
    border-radius: 6.25rem;
    padding: 1rem 1.25rem 1rem 1.25rem;
    box-shadow: inset -2px 6px 8px 0px rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0 0 0 #fffdef);
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
    z-index: -5;
}

span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.74rem;
    text-align: left;
    color: #33A8DB;    
}


.module:hover {
    filter: drop-shadow(0 0 .63rem #33A8DB);
    z-index: 2;
}