footer {
    width: 78.875rem;
    height: 5.62rem;
    margin-top: 50px;

}

footer img {
    width: 18.37rem;
    height: 2.75rem;
    top: 3.68rem;
    margin-left: 500px;
}

footer p {
    width: 16.187rem;
    height: 1.187rem;
    top: 7.06rem;
    margin-left: 525px;
}