@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

body {
    background-color: black;

    display: grid;
    width: 1262px;
    height: 2491px;
    grid-template-areas: 
    "header header  header"
    "main main main"
    "footer  footer  footer";
}

body > header {
    grid-area: header;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: footer;
}


p {
    color: white;
}

section {
    margin: 100px auto;
}

