@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

body {
    background-color: black;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: white;
}

section {
    margin: 100px auto;
}
