#professional-challenges h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding: 0 12.5rem;
}

#professional-challenges img {
    margin-top: 1.88rem;
    margin-left: 310px;
    transition: all 1s; 
}

#professional-challenges img:hover {
    filter: drop-shadow(.63rem .44rem 1.25rem #33A8DB);   
}

#professional-challenges p {
    width: 49.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.17rem;
    text-align: center;
    margin-left: 16.88rem;
    margin-top: 3rem;
}